:root{ 
    --cor_botao_clicado: red;
    --cor_botao_n_clic:  yellow;
    --cor_fundo:  rgb(255, 255, 255);
    --cor_titulo:  pink;
}

body{
   background-color: var(--cor_fundo);

}
h1{
    color: var(--cor_titulo);
}
.principal{
    border: solid rgb(0, 0, 0) 8px;
    text-align: center;
    height: 500px;
    border-radius: 1%; 
    padding: 5%;
}
 button{
    border: solid rgb(0, 0, 0);
    margin: 1%;
 }
